body {
    font-family: "Helvetica Neue", "Roboto Light", sans-serif;
    font-size: 12px;
    background-color: #f0f0f0;
}
div.box {
    max-width: 250px;
    background-color: white;
    padding: 1em;
    float: left;
}
#circle circle {
    fill: none;
    pointer-events: all;
}
path.chord {
    stroke: #000;
    stroke-width: .25px;
    transition: opacity 0.2s;
}
#circle:hover path.fade {
    opacity: 0.075;
}

.bar {
    fill: steelblue;
}

.bar:hover {
    fill: brown;
}

.axis {
    font: 10px sans-serif;
}

.axis path,
.axis line {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
}

.x.axis path {
    display: none;
}